.black_h12nbsx9dk23m32ui4948382 {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important; 
	background: #0004 !important;
	z-index: 9999999999999999 !important;
	overflow: auto !important;
	padding: 10px;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
	/* font-size: 13px !important; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0; */
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.window_h12nbsx9dk23m32ui4948382 {
	max-width: 650px;
	background: #fff;
	left: 0 !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	box-shadow: 3px 15px 15px 0px #00000063 !important;
	border-radius: 5px !important;
	overflow: hidden !important;
	color: #000;

	margin: 10% auto;
}

.window_h12nbsx9dk23m32ui4948382 textarea {
	width: 100% !important;
	min-height: 300px !important;
	padding: 10px !important;
	font-family: tahoma !important;
	font-size: 14px !important;
	resize: none !important;
	box-sizing: border-box !important; 
	margin-top: 4px !important;
	border-radius: 3px !important;
	border: 1px solid #0003 !important;
	color: inherit;
}

.window_h12nbsx9dk23m32ui4948382 input[type="text"],
.window_h12nbsx9dk23m32ui4948382 input[type="password"] {
	width: Calc(100% - 4px) !important;
	padding: 10px !important;
	font-family: tahoma !important;
	font-size: 14px !important;
	resize: none !important;
	box-sizing: border-box !important; 
	margin: 4px 0 !important;
	border-radius: 3px !important;
	border: 1px solid #0003 !important;
	margin-bottom: 5px !important;
	background: #e3e3e322;
	color: inherit;
}

.window_h12nbsx9dk23m32ui4948382 .load:before {
	content: '';
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: none; display: block; shape-rendering: auto;' width='24px' height='24px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='rotate(0 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.8888888888888888s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(40 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.7777777777777778s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(80 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.6666666666666666s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(120 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5555555555555556s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(160 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.4444444444444444s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(200 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.3333333333333333s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(240 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.2222222222222222s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(280 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.1111111111111111s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(320 50 50)'%3E%3Crect x='41.5' y='5.5' rx='8.5' ry='8.5' width='17' height='17' fill='%233b3b3b'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/g%3E%3C!-- %5Bldio%5D generated by https://loading.io/ --%3E%3C/svg%3E");
	width: 24px;
    height: 24px;
	display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -5px;
}


.window_h12nbsx9dk23m32ui4948382 button,
.window_h12nbsx9dk23m32ui4948382  .btnx {
    display: inline-block !important;
    padding: 4px 11px !important;
    background: #fff2;
    margin: 5px 0 !important;
    border: 1px solid #0003;
    border-radius: 3px !important;
	cursor: pointer !important;
	margin-right: 5px !important;
	font-size: 15px !important;
	box-shadow: none;
	color: inherit;
}

.window_h12nbsx9dk23m32ui4948382 .default_mess {
	font-family: tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	color: inherit;
}

.window_h12nbsx9dk23m32ui4948382 a {
	padding: 10px !important;
}

.close_panel_h12nbsx9dk23m32ui4948382 button {
	box-shadow: none;
	color: inherit;
}

.close_panel_h12nbsx9dk23m32ui4948382 button:hover {
	color: inherit;
}


.dialogTitle_h12nbsx9dk23m32ui4948382 {
	padding: 10px !important;
	font-weight: bold !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	color: inherit;
	font-size: 16px !important;
}

.black_h12nbsx9dk23m32ui4948382 fieldset {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	color: inherit;
}

.form_panel_h12nbsx9dk23m32ui4948382 {
	display: flex !important;
	color: inherit;
}

._form_h12nbsx9dk23m32ui4948382 {
	width: 650px !important;
	padding: 10px !important;
	border-radius: 0;
}

._formRight_h12nbsx9dk23m32ui4948382 {
    width: 200px;
	border-left: 1px solid #0003 !important;
	padding: 10px !important;
	overflow: auto !important;
	border-radius: 0;
}

._formRight_h12nbsx9dk23m32ui4948382::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #fff2 !important;
}

._formRight_h12nbsx9dk23m32ui4948382::-webkit-scrollbar {
	width: 6px !important;
	background-color: #fff2 !important;
}

._formRight_h12nbsx9dk23m32ui4948382::-webkit-scrollbar-thumb {
	background-color: #AAA !important;
}

.close_panel_h12nbsx9dk23m32ui4948382 {
	padding: 10px !important;
    border-bottom: 1px solid #0002;
    position: sticky !important;
    top: 0px !important;
    display: flex !important;
    background: #ffffff30;
    align-items: center !important;
    justify-content: space-between !important;
	color: inherit;
}

.buttons_panel_h12nbsx9dk23m32ui4948382 {
	padding: 10px !important;
    background: #ffffff30;
	/* text-align: right !important; */
	position: sticky !important;
	bottom: 0px !important;
	display: flex !important;
	justify-content: center !important;
	color: inherit;
	flex-direction: row-reverse;
}


.close_panel_h12nbsx9dk23m32ui4948382 button {
	border: 1px solid #0000;
    color: inherit;
	background: none !important;
	transition: all .3s !important;
}

.close_panel_h12nbsx9dk23m32ui4948382 button:hover {
	border: 1px solid #9992;
}

._cntr {
	min-height: 200px !important;
	/* display: flex !important; */
	align-items: center !important;
	font-family: "tahoma" !important;
}

.black_h12nbsx9dk23m32ui4948382 .window_h12nbsx9dk23m32ui4948382_h12nbsx9dk23m32ui4948382 {
	transition: all .3s !important;

}

.black_h12nbsx9dk23m32ui4948382 .flexbox form {
	width: 620px !important;
	display: inline-block !important;
	vertical-align: top !important;
	color: inherit;
}

.addRight .window_h12nbsx9dk23m32ui4948382_h12nbsx9dk23m32ui4948382 {
	width: 990px !important;
	color: inherit;
}